.apps
    width: 380px
    display: flex
    justify-content: space-around
    a
        max-width: fit-content
        &:hover
            img
                transition: .3s all
                transform: scale(1.05)
@media ( max-width: 576px )
    .apps
        width: 95%
        text-align: center
        flex-direction: column
        align-items: center
        &__appStore
            margin-bottom: 25px
        img
            width: 185px
            height: 60px