.title
    font-family: 'Montserrat'
    font-weight: 700
    font-size: 50px
    line-height: 60px
    color: $main-color
    margin-bottom: 23px
.subtitle
    font-family: 'NotoSans'
    font-weight: 400
    font-size: 18px
    line-height: 25px
    color: $main-color 
.label
    font-family: 'Roboto'
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 27px
    color: #FFFFFF